/* Button witch icon */
.buttonWithIcon-container {
  display: inline-flex;
  border-radius: 6px;
  overflow: hidden;
}

.buttonWithIcon-main {
  background-color: #2c3fa3;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  z-index: 99;
}

.buttonWithIcon-icon {
  background-color: #3549af;
  color: white;
  padding: 10px 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.buttonWithIcon-container:hover .buttonWithIcon-main {
  background-color: #3549af;
}

.buttonWithIcon-container:hover .buttonWithIcon-icon {
  background-color: #3b51b9;
}
.buttonWithIcon-container:active .buttonWithIcon-main {
  background-color: #3b51b9;
}

.buttonWithIcon-container:active .buttonWithIcon-icon {
  background-color: #7483d0;
}
.buttonWithIcon-container:focus-within .buttonWithIcon-main {
  background-color: #2c3fa3;
}

.buttonWithIcon-container:focus-within .buttonWithIcon-icon {
  background-color: #3549af;
}
.buttonWithIcon-container:focus-within {
  outline: 2px solid #d9dceb;
}
.buttonWithIcon-main:focus,
.buttonWithIcon-icon:focus {
  outline: none;
}
.disabled {
  border: 1px solid #d2d3e1;
  color: #d2d3e1;
  cursor: not-allowed;
  background-color: #f2f2f2;
}

.disabled .buttonWithIcon-main {
  background-color: #f2f2f2;
  color: #d2d3e1;
  cursor: not-allowed;
}

.disabled .buttonWithIcon-icon {
  background-color: #f2f2f2;
  color: #d2d3e1;
  cursor: not-allowed;
}

/* Button witch icon */

/* Simple button */
.simpleButton {
  border-radius: 6px;
  background-color: white;
  border: 1px solid#2c3fa3;
  padding: 15px 10px;
  font-weight: bold;
  color: #2c3fa3;
  cursor: pointer;
}
.simpleButton:hover {
  box-shadow: #7281ca44 0px 0px 15px;
}
.simpleButton:active {
  background-color: #c5ceec5b;
  box-shadow: none;
}
.simpleButton:focus-within {
  outline: 2px solid #d9dceb;
}
/* Simple button */

/* Input */
.input-container {
  border-radius: 4px;
  padding: 10px 10px;
  border: 1px solid #d2d3e1;
  cursor: text;
  font-family: sans-serif;
  width: 60%;

  z-index: 99;
}

.input-container:hover {
  border: 1px solid #e3e3ed;
}
.input-container::placeholder {
  color: #7d7f90;
}

.input-container:focus {
  outline: none;
  border: 1px solid #d2d3e1;
}

.input-container:focus-within {
  outline: 2px solid #d9dceb;
}
/* Input */
/* HeadLine */
.headline-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.headline-buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.headlineImg {
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
}

.headline {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headlineDescripton {
  width: 30%;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* HeadLine */
/* ACTION */
.action-container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
}

.background-image {
  float: right;
  width: 70%;
  height: 100%;
  opacity: 0.9;
  mask-image: linear-gradient(to right, transparent, black);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.inputButton {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 20px;
}
.actionDescription {
  width: 60%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* ACTION */

@media (max-width: 768px) {
  .headline-buttonGroup {
    flex-direction: column;
    align-items: center;
  }
  .inputButton {
    flex-direction: column;
    align-items: left;
    gap: 5px;
  }
  .action-container {
    width: 90%;
    height: auto;
  }
  .background-image {
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: none;
    mask-image: none;
  }
  .action-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black 0%, transparent 80%);
    pointer-events: none;
  }
  .content {
    color: white;
    z-index: 99;
    font-size: 12px;
  }
  .input-container {
    height: 5%;
  }
  .buttonWithIcon-container {
    display: inline-flex;
    border-radius: 6px;
    overflow: hidden;
  }
}

@media (max-width: 1400px) {
  .headlineDescripton {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .action-container {
    height: 250px;
    width: auto;
    max-width: 90%;
  }
  .background-image {
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: none;
    mask-image: none;
  }
}
